@model ResturantWebApp.Models.item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.itemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resturant.resturantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resturant.resturantName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.itemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
