@model IEnumerable<ResturantWebApp.Models.item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resturant.resturantName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resturant.resturantName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.itemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.itemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.itemID })
        </td>
    </tr>
}

</table>
